@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Arimo:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);

@import 'social-icons.scss';

@font-face {
    font-family: 'MJ-AlGhifari';
    src: url('../../assets/fonts/MJ-AlGhifari.ttf.woff') format('woff'),
        url('../../assets/fonts/MJ-AlGhifari.ttf.svg') format('svg'),
        url('../../assets/fonts/MJ-AlGhifari.ttf.eot'),
        url('../../assets/fonts/MJ-AlGhifari.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #48358C;
    --header-back-Notsupported: rgba(252, 239, 216, .9);
    --header-back-supported: rgba(252, 239, 216, .1);
    --theme-white: #f2f2f2;
    --primary-light: #ae9cf0;
    --primary-lighter: #dec3fe;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    height: 100vh;
}

.home-page {
    overflow: hidden;
    @media (max-width: 992px) {
        overflow: scroll;
    }
}

::selection {
    background-color: var(--primary-color);
    color: var(--theme-white);
}

.font-myfont-serif {
    font-family: 'Merriweather', serif;
}

.font-myfont-sans {
    font-family: 'Arimo', sans-serif;
}

.font-myfont-sans,
.font-myfont-serif {
    text-rendering: geometricPrecision;
}

.social-icons-cont {
    @media (max-width: 992px) {
        display: none;

        &.checked {
            display: block;
        }
    }
}

.header-main {
    height: 19vh;
    backdrop-filter: blur(16px);
    background-color: var(--header-back-Notsupported);
    transition: all .2s ease-in-out;

    /* if backdrop support: very transparent and blurred */
    @supports ((-webkit-backdrop-filter: blur(16px)) or (backdrop-filter: blur(16px))) {
        background-color: var(--header-back-supported);
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
    }

    .nav-toggle {
        display: none;
    }

    @media (max-width: 992px) {
        position: absolute;
        width: 0%;
        height: 19vh;

        .nav-toggle {
            display: block;
            position: absolute;
            transform: translate(0, 35px);
            right: 20px;
            width: 30px;
            height: 25px;
            z-index: 99;
            background: linear-gradient(to bottom,
                    var(--primary-color) 0px, var(--primary-color) 5px,
                    transparent 5px, transparent 10px,
                    var(--primary-color) 10px, var(--primary-color) 15px,
                    transparent 15px, transparent 20px,
                    var(--primary-color) 20px, var(--primary-color) 25px,
                    transparent 25px);
        }

        &.checked {
            backdrop-filter: blur(16px);
            width: 100%;
            height: 100%;
        }

        .nav-main,
        .nav-items {
            flex-direction: column;
        }
    }

    @media (min-width:993px) and (max-width: 1280px) {
        padding: 0 50px
    }

    .nav-main {
        .header-logo {
            @media (max-width: 992px) {
                margin: 25px 0 30px;
                position: absolute;
                left: 20px;
                width: 120px;
                margin-top: 0;
            }

            img {
                height: 100px;
            }
        }

        .nav-items {
            @media (max-width: 992px) {
                display: none;

                &.checked {
                    display: flex;
                    height: max-content;
                    width: 100%;
                    align-items: center;
                    row-gap: 30px;
                    position: relative;
                    top: 40%;
                    transform: translate(0, -50%);

                    .nav-item {
                        font-size: 20px;
                    }
                }
            }

            .nav-item {
                position: relative;

                @media (max-width: 992px) {
                    display: block;
                    min-width: 50%;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                }

                &:not(:last-of-type):after {
                    content: '';
                    border-right: 1px solid #666;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 1px;

                    @media (max-width: 992px) {
                        display: none;
                    }
                }

                &.dropdown {
                    .dropdown-menu {
                        @media (max-width: 992px) {
                            display: none;
                            width: 100vw;
                            position: absolute;
                            border-radius: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                    }

                    &.checked {
                        >.dropdown-menu {
                            display: block;
                        }

                        &::before {
                            content: "";
                            width: 50px;
                            height: 30px;
                            top: 18px;
                            position: absolute;
                            left: -25px;
                        }
                    }
                }
            }
        }

    }
}

::-webkit-scrollbar {
    width: 0;
}

main.page-wrapper {
    scroll-behavior: smooth;
    overflow-y: scroll;

    @media (max-width: 992px) {
        min-height: 110%;
        height: 100%;
        scroll-snap-type: none;
        max-width: 767px;
        margin: 0 auto;
        overflow: unset;
    }

    .heading-shadow {
        padding-bottom: 10px;
        letter-spacing: 1.5px;
        position: relative;
        width: max-content;

        @media (max-width: 992px) {
            font-size: 24px;
        }
    }

    .wrapper-item {
        scroll-snap-align: center;
        height: 100vh;

        &:not(:first-child) {
            scroll-snap-align: end;
            height: 81.2vh;

            @media (max-width: 992px) {
                height: 120vh;
            }
        }
    }

    // heroSection
    .heroSection {
        @media (max-width: 992px) {
            video {
                display: none;
            }
        }

        font-family: 'MJ-AlGhifari';
        font-size: 20px;

        .mobile-heroSection {
            display: none;

            @media (max-width: 992px) {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: url('../media/SVG/gradient-1.svg') center / cover no-repeat;

                .image-hero-mb {
                    background: url("../media/SVG/hero-mobile.svg") center / contain no-repeat;
                    height: 30%;
                    width: 100vw;
                }

                .heroHeading-mb {
                    font-size: 40px;
                    text-align: center;
                    margin-top: 30px;
                    font-weight: 500;
                    color: var(--primary-color);
                }
            }
        }

    }

    // aboutSection 
    .aboutSection {
        background: url("../media/SVG/gradient-1.svg") center/cover no-repeat;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: url("../media/SVG/shape-2.svg") center /auto no-repeat;
            width: 10%;
            height: 60%;
            opacity: 0.5;
            top: -20%;
            left: 0;

            @media(max-width: 992px) {
                width: 5%;
                height: 60%;
                left: 10px;
                top: -25%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background: url("../media/SVG/shape-1.svg") right/auto no-repeat;
            width: 40rem;
            height: 40rem;
            bottom: -200px;
            right: -100px;
            transform: rotate(35deg);

            @media(max-width: 992px) {
                width: 20rem;
                height: 20rem;
                bottom: -100px;
                right: -100px;
            }
        }

        padding: 0 10rem;

        @media (min-width: 1440px) {
            padding: 0 5rem;
        }

        @media (max-width: 992px) {
            padding: 0 15px;

            .about-container {
                flex-direction: column;
            }
        }

        .about-content {
            max-width: 50%;
            height: max-content;
            position: relative;

            @media (max-width: 992px) {
                min-width: 100%;
            }
        }

        .about-image {
            max-width: 55%;

            @media (max-width: 992px) {
                max-width: 100%;
                padding: 0;
                padding-top: 30px;
            }
        }
    }

    // aboutSection end

    // activitiesSection
    .activitiesSection {
        background: url('../media/SVG/gradient-5.svg') center / cover no-repeat;
        position: relative;

        @media (max-width: 992px) {
            height: 100vh;
        }

        .activities-carousel {
            display: flex !important;
            width: 60%;
            height: max-content;
            margin: 0 auto;
            align-items: center;
            justify-content: center;


            @media (max-width: 992px) {
                width: 100%;
            }

            &::before {
                position: absolute;
                content: '';
                background: url("../media/svg/shape-3.svg") center/contain no-repeat;
                width: 150px;
                height: 150px;
                left: 25%;
                top: 0;
            }

            &::after {
                position: absolute;
                content: '';
                background: url("../media/svg/shape-3.svg") center/contain no-repeat;
                width: 150px;
                height: 150px;
                right: 25%;
                bottom: 0;
                z-index: 1;
            }

            .slick-list {
                z-index: 2;

                .slick-track {
                    padding: 10% 0;
                }

                @media (max-width: 992px) {
                    height: 35em;

                    .slick-track {
                        height: max-content;
                        padding: 0;
                        top: 110px;
                    }
                }
            }


            .activity-item {
                margin: 0 25px;
                text-align: center;
                padding: 10px 10px 0;
                border: 5px solid var(--primary-color);
                transition: all .2s ease-in-out;

                &:hover {
                    box-shadow: 0 20px 15px -15px #8c7ebf;
                    transform: translateY(-10px);
                }

                &.slick-center {
                    box-shadow: 0 20px 30px -15px #8c7ebf;
                    transform: translateY(0) scale(1.2);

                    @media (max-width: 992px) {
                        transform: scale(1.5);
                    }
                }

                .activity-item_content {
                    height: inherit;
                    width: 100%;

                    .activity-heading {
                        font-weight: bold;
                        font-size: 1vw;
                        margin: 10px 0 5px;

                        @media (max-width: 992px) {
                            font-size: 1rem;
                        }
                    }
                }

                @media (max-width: 992px) {
                    margin: 0 50px;
                }
            }

            .slick-arrow {
                background: url("../media/SVG/arrow.svg") center/contain no-repeat;
                font-size: 0;
                height: 50px;
                width: 200px;
                position: absolute;
                z-index: 51;
            }

            .slick-prev {
                transform: rotate(90deg);
                left: -20%;
            }

            .slick-next {
                transform: rotate(-90deg);
                right: -20%;
            }
        }
    }

    // activitiesSection end


    // teamSection
    .teamSection {
        background: url("../media/SVG/gradient-3.svg") center / cover no-repeat;

        @media (max-width: 992px) {
            min-height: 170vh;
        }

        .team-heading {
            width: 60%;
            position: relative;
            width: max-content;
        }

        .team-items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 120px;
            row-gap: 50px;
            width: 75%;

            @media (min-width: 1280px) and (max-width: 1500px) and (hover: hover) {
                column-gap: 90px;
                row-gap: 20px;
                width: 80%;
            }

            @media (max-width: 992px) {
                column-gap: 35px;
                row-gap: 5px;
                width: 100%;
            }

            .team-item {
                width: 12rem;
                transition: all .2s ease-in-out;

                @media (min-width: 1280px) and (max-width: 1500px) and (hover: hover) {
                    width: 9rem;
                }

                @media (max-width: 992px) {
                    width: 10rem;
                }

                &:hover {
                    transform: scale(1.05) translateY(-5px);

                    img {
                        border-color: var(--primary-light);
                    }
                }

                img {
                    width: inherit;
                    border: 5px solid var(--primary-color);
                    padding: 2px;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    transition: all .2s ease-in-out;
                }

                p {
                    font-size: 13px;
                    text-align: center;

                    @media (min-width: 1280px) and (max-width: 1500px) and (hover: hover) {
                        font-size: 12px;
                    }

                    strong {
                        font-size: 16px;
                        font-weight: 700;

                        @media (min-width: 1280px) and (max-width: 1500px) and (hover: hover) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    // teamSection end

    // certificationSection
    .certificationSection {
        background: url(../media/SVG/gradient-2.svg) center/cover no-repeat;

        @media (max-width: 992px) {
            padding: 0 15px;
            .c_I {
                margin: 0;
                padding: 0;
            }

            .c_II {
                flex-direction: column-reverse;
                row-gap: 30px;
            }
            .certification-content {
                padding: 0;
            }
        }

        .certificate-left {
            .button-certificate {
                font-size: 1.3vw;
                border-radius: 100px 0 0 100px;
                padding: 10px 12px;
                background: linear-gradient(to right, var(--primary-light) 0%, var(--primary-light) 50%, var(--primary-color) 50%, var(--primary-color) 100%);
                background-size: 200% 100%;
                background-position: 100%;

                &:hover {
                    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.230, 1);
                    background-position: 0%;
                }
            }

            @media (max-width: 992px) {
                width: 100%;
                .button-certificate {
                    font-size: 1rem;
                }
                img {
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
            }
        }

        .certificate-right {
            background: url('../media/SVG/shape-4.svg');
            background-size: 110% 100%;
            background-repeat: no-repeat;
            background-position: left center;
            height: 100%;

            @media (min-width: 1280px) and (max-width: 1367px) {
                background-size: 135%;
            }

            @media (min-width: 1368px) and (max-width: 1600px) {
                background-size: 120%;
            }

            @media (max-width: 992px) {
                background: none;
                width: 100%;
                height: max-content;
            }
        }

    }

    // certificationSection end

    // contactSection
    .contactSection {
        background: url('../media/SVG/gradient-4.svg') center / cover no-repeat;

        @media (max-width: 992px) {
            min-height: 150vh;
            .contact-inner {
                flex-direction: column-reverse;
            }
            .co_I, .co_II {
                width: 100%;
                height: 100%;
            }
            .co_I {
                justify-content: flex-start;
                .contact-form {
                    padding: 15px;
                    width: 100%;
                }
            }
        }
        .contact-form {
            width: 75%;
            padding: 50px 0 0 100px;
            margin-bottom: 20px;

            label {
                color: var(--primary-color);
                margin-bottom: 30px;
                padding-bottom: 10px;

                &:nth-child(n-1) {
                    margin-bottom: 5px;
                }

                input,
                textarea {
                    background-color: transparent;
                    border-bottom: 1px solid var(--primary-lighter);
                    padding: 10px;
                    font-weight: 500;
                }
            }
        }

        .copyrights {
            padding: 0 10vw 20px;
        }

        .maps {
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }

    // contactSection end

}